<div class="flex-row margin-top-40">
    <div class="flex-1"></div>

    <div class="flex-2 padding-20 text-box medium-text surface">
        <p>Hi,</p>
        <p>This site is home to many of the recipes I have accumulated over the years. Most of the recipes involve a <a href="https://www.crock-pot.com/slow-cookers/" target="_blank" title="Open official crock-pot website in a new tab.">crock-pot</a>.</p>
        
        <mat-divider class="margin-tb-20"></mat-divider>
        
        <p>
            When shopping for ingredients I prefer to use <a href="https://keep.google.com" target="_blank" title="Open Google Keep in a new tab!">Google Keep</a>. 
        </p>
        
        <div class="flex-row margin-tb-20">
            <img src="../../../assets/copy-ingredients.png" alt="Failed to show copy image" class="image">
            <mat-icon class="align-self-center">arrow_forward</mat-icon>
            <img src="../../../assets/paste-ingredients.png" alt="Failed to show copy image" class="image">
        </div>

        <p>On this site you can copy a recipe's ingredients in one click and paste them directly into any list app.</p>
    </div>

    <div class="flex-1"></div>
</div>